.signin {
	display: flex;
    flex-direction: row-reverse;
	justify-content: space-around;
	align-items: center;
	min-height: 40vw;
}
.signin_right {
	display: flex;
	justify-content: center;
	width: 100%;
	padding: 20px;
	box-shadow: 0 0 10px -5px white;
	border-radius: 10px;
	max-width: 800px;
	height: auto;
}

.signin_image {
	border-radius: 10px;
	width: inherit;
}

.signin_title {
	font-size: 2.75rem;
	font-weight: 400;
	letter-spacing: 0;
	line-height: 3.25rem;
	max-width: 500px;
	color: #f4f4f4;
}
.signin_title > span{
	color: #bf0000 ;
}

.signin_subtitle {
	font-size: 1.125rem;
	font-weight: 400;
	letter-spacing: 0;
	line-height: 1.5rem;
	color: #5f6368;
	max-width: 30em;
	padding: 20px 0;
}

.signin_buttons {
	margin: 30px 0;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
}
.signin_createBTN {
	background-color: #bf0000 !important;
	padding: 10px 15px !important;
}

.signin_createBTN p {
	margin-left: 5px !important;
	text-transform: capitalize;
}

.icon {
	color: #5f6368;
}

.signin_createaccount{
    text-decoration: none;
    color: white;
    background: rgba(255, 255, 255, 0.234);
    padding: 10px 20px;
    border-radius: 50px;
    margin-left: 5px;
}
.signininput{
    width: 100%;
    padding: 10px;
    border: 1px solid red;
    border-radius: 3px;
    background-color: rgb(199, 199, 199);
    outline: none;
}
.signin_input:focus ,.signin_input:hover{
    background-color: white;
}