*{
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}
body {
  background: rgb(0, 0, 0);
  overflow: hidden;
}
.auth_input{
  width: 100%;
  padding: 10px;
  border: 1px solid red;
  border-radius: 3px;
  background-color: rgb(199, 199, 199);
  outline: none;
}
.auth_input:focus ,.auth_input:hover{
  background-color: white;
}
span{
	color: #bf0000 ;
}